* {
  margin: 0;
  padding: 0;
  font-family: 'Scada', sans-serif;
}

  .title{
      width: 100vw;
      display: flex;
  }


  .submit{
    width: 202px;
    color: rgba(255,255,255,1);
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }

  .login-container {
    width: 100vw;
  }

  .inner-login-container {
    width: 35vw;
    background-color: rgb(190, 181, 181);
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  .login-title {
    font-size: 50px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  label {
    display: flex;
    align-items: center;
  }

  .email {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .email input {
    margin-left: 20px;
    width: 2500px;
    height: 30px;
    border-radius: 5px;
    padding: 4px;
    border: none;
    font-size:24px;
  }

  .password {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .password input {
    margin-left: 20px;
    width: 2500px;
    height: 30px;
    border-radius: 5px;
    padding: 4px;
    border: none;
    font-size:24px;
  }

  .img-container {
    width: 100vw;
    display: flex;
    margin-bottom: -5vw;
  }

  img {
    margin: 0 auto;
    width: 20vw;
  }

  button {
    height: 50px;
    width: 130px;
    padding: 2px;
    font-size: 24px;
    border-radius: 5px;
    background-color: #8303CD;
    color: white;
    border: none;
  }

  button:hover {
    cursor: pointer;
    background-color: #a759d4;
  }


