* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .signupPage {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .header {
    width: 100%;
    height: 90px;
    background: rgba(248,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .welcomeTitle {
    width: 510px;
    color: rgba(248,0,0,1);
    position: absolute;
    top: 179px;
    left: 465px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: left;
  }
  .firstNLabel {
    width: 202px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 343px;
    left: 245px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .lastNLabel {
    width: 202px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 416px;
    left: 249px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .emailLabel {
    width: 202px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 482px;
    left: 328px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .passwordLabel {
    width: 202px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 552px;
    left: 263px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .orLabel {
    width: 49px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 704px;
    left: 708px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .firstNField {
    width: 545px;
    height: 50px;
    background: rgba(227,226,226,1);
    opacity: 1;
    position: absolute;
    top: 343px;
    left: 447px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .lastNField {
    width: 545px;
    height: 50px;
    background: rgba(227,226,226,1);
    opacity: 1;
    position: absolute;
    top: 414px;
    left: 447px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .emailField {
    width: 545px;
    height: 50px;
    background: rgba(227,226,226,1);
    opacity: 1;
    position: absolute;
    top: 483px;
    left: 447px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .passwordField {
    width: 545px;
    height: 50px;
    background: rgba(227,226,226,1);
    opacity: 1;
    position: absolute;
    top: 553px;
    left: 447px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .loginButton {
    width: 321px;
    height: 56px;
    background: rgba(131,3,205,1);
    opacity: 1;
    position: absolute;
    top: 646px;
    left: 559px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .fbButton {
    width: 413px;
    height: 56px;
    background: rgba(59,89,152,1);
    opacity: 1;
    position: absolute;
    top: 738px;
    left: 513px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .signupText {
    width: 202px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 648px;
    left: 656px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }

  .fbText {
    width: 411px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 745px;
    left: 544px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }

  .loginMember {
    width: 225px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 833px;
    left: 607px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .loginText {
    width: 160px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 857px;
    left: 649px;
    font-family: Scada;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  